<ion-header>
    <ion-toolbar>
      <ion-buttons slot="primary">
        <ion-button (click)="onCancel()">
          <ion-icon name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Delivery Information</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
      <h2 class="blue" >Ordered Dishes</h2>
      <ion-grid>
          <ion-row>
            <ion-col>
              <ion-list>
                <ion-item 
                *ngFor="let dish of dish">
                  <ion-label>
                    <p>{{dish.item}} {{dish.price | currency}}</p>
                  
                  </ion-label>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>
    </ion-grid>
      <h2 class="blue">Delivery Information</h2>
      <ion-item>
        <ion-label position="floating">Your Name</ion-label>
        <ion-input id='name' type = "text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Your Address</ion-label>
        <ion-textarea id='address'></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Your Phone Number</ion-label>
        <ion-input id='phone' type = "text"></ion-input>
      </ion-item>
      <ion-row>
          <ion-col col-3>
               <ion-item>

                <ion-label position="floating">Delivery Date</ion-label>
                <ion-datetime id='date'  displayFormat="YYYY-MM-DD" min="2019-04-25" max = "2020" picker-format="YYYY-MM-DD">
                </ion-datetime>
                        </ion-item>
          </ion-col>
          <ion-col col-9>
              <ion-item>
                  <ion-label position="floating">Time</ion-label>
                  <ion-select id='time'>
                    <ion-select-option value="500">5:00pm</ion-select-option>
                    <ion-select-option value="530">5:30pm</ion-select-option>
                    <ion-select-option value="600">6:00pm</ion-select-option>
                    <ion-select-option value="630">6:30pm</ion-select-option>
                    <ion-select-option value="700">7:00pm</ion-select-option>
                    <ion-select-option value="730">7:30pm</ion-select-option>
                    <ion-select-option value="800">8:00pm</ion-select-option>
                    <ion-select-option value="830">8:30pm</ion-select-option>
                  </ion-select>
    </ion-item>
          </ion-col>
        </ion-row>
        <ion-button expand="block" (click)="submitOrder()">Submit Your Order</ion-button>
  </ion-content>
  