<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Your Ordered Dishes
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
      <ion-grid>
          <ion-row>
            <ion-col>
              <ion-list>
                <ion-item-sliding 
                *ngFor="let dish of dish">
                <ion-item>
                  <ion-thumbnail slot="start">
                    <img src= {{dish.image}}>
                  </ion-thumbnail>
                  <ion-label>
                    <h2>{{dish.item}}</h2>
                    <p>{{dish.price | currency}}</p>
                  </ion-label>
                  </ion-item>
                  <ion-item-options>
                    <ion-item-option
                    
                      (click)="onRemoveFromFavorites(dish)"
                      color="danger">
                      <ion-icon name = "trash"></ion-icon>
                      Remove
                    </ion-item-option>
            
                  </ion-item-options>
                </ion-item-sliding>
              </ion-list>
            </ion-col>
          </ion-row>
    </ion-grid>
    <ion-button expand="block" (click)="onOrderDish()">Place Order</ion-button>
  </ion-content>
  